@charset "UTF-8";

.header {
	width: 300px;
	margin: 0px;
	padding: 5px;
	background-color: #ff80c0;
}

.main {

}

.titleName {
	text-align: left;
	font-size: large;
}
.date {
	text-align: left;
	font-size: x-large;
}

.message {
	font-weight: bold;
}

.footer {
	line-height: 1.5em;
	width: 310px;
	text-align: left;
}

.listFooter {
	line-height: 1.5em;
	width: 460px;
	text-align: left;
}

.even {
	background-color: #eeeeee;
}
